
.container-homeComponent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;

    height: 70vh;

    
}


.texto-home{

    width: 70vw;
    text-align: left;
    

    font-family: 'Roboto';
    font-size: 18;
    font-weight: bold;
    color: #919974;
}



.ovos{
    position: relative;
    left: 20px;
    bottom: 15px;
    height: 20vh;
    width: 40vw;
}

.frango{
    position: relative;
    right: 20px;
    top: 10px;
    height: 20vh;
    width: 40vw;
}

.minhaGranja{

    

    height: 5vh;
    width: 30vw;

    margin-bottom: 10px;

    border: 1px solid transparent;
    background-color: #919974;
    color: #F5E7CC;
}